/* NOTES ON CSS
. in CSS is a "class" selector; begin items with "." when you mean to reference them as a class
# in CSS is an "id" selector; begin items with "#" when you mean to reference them as an id
@ in CSS are "at-rules" that tell CSS how to behave: https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule
*/

/* set background style */
.webpage {
  background-color: #000
}

.podcast {
  color: #f2f2f2;
  font-family: helvetica, sans-serif;
}

.link_format {
  color: hotpink;
}

.paragraph {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
}

.interviewee {
  font-family: helvetica, sans-serif;
  font-style: italic;
  font-size: 14px;
}

/*updating navbar*/
.image-icon {
  height: 30px;
  width: 30px;
}

body {
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  margin-top: 100px;
}
.epk-container {
  display: flex;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

/* .container img {
  display: block;
  width: 100%;
} */
nav {
  position: relative;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", "sans-serif";
  height: 75px;
  background-color: #333;
  padding: 0 5%;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: helvetica, sans-serif;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: helvetica, sans-serif;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
}
nav .links a:hover {
  color: white;
}
nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: white;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 900px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/*to define the banner image container*/
.image-container {
  position: relative;
  display: block;
  overflow: hidden;
}

/*to define the banner image container image*/
.image-container img {
  display: block;
  max-width: 100%;
  /* width: 100%; */
  height: auto;
  /* margin-left: -300px;
  margin-top: -700px;
  margin-bottom: -1000px; */
}

/*format text overlay for the HOMEPAGE BANNER*/
.overlay-text-title-home {
  position: absolute;
  top: 3%; 
  left: 50%; 
  background-color: transparent; 
  color: #fff; 
  padding: 10px 20px; 
  /*using vw ('viewport-width') will adjust for different screensizes*/
  font-size: 12vw; 
  font-family: helvetica, sans-serif;
  text-align: center;
}

/*format text overlay for the ABOUTPAGE BANNER*/
.overlay-text-title-about {
  position: absolute;
  top: 70%; 
  left: 5%; 
  background-color: transparent; 
  color: #fff; 
  padding: 10px 20px; 
  /*using vw ('viewport-width') will adjust for different screensizes*/
  font-size: 5vw; 
  font-family: helvetica, sans-serif;
  text-align: center;
}

/*format text overlay for the SUPPORT BANNER*/
.overlay-text-title-support {
  position: absolute;
  top: 70%; 
  left: 10%; 
  background-color: transparent; 
  color: #fff; 
  padding: 10px 20px; 
  /*using vw ('viewport-width') will adjust for different screensizes*/
  font-size: 5vw; 
  font-family: helvetica, sans-serif;
  text-align: center;
}

/*format text overlay for the PODCAST BANNER*/
.overlay-text-title-podcast {
  position: absolute;
  top: 70%; 
  left: 5%; 
  background-color: transparent; 
  color: #fff; 
  padding: 10px 20px; 
  /*using vw ('viewport-width') will adjust for different screensizes*/
  font-size: 4vw; 
  font-family: helvetica, sans-serif;
  text-align: center;
}

/*format text overlay for the SUPPORT BANNER*/
.overlay-text-title-contact {
  position: absolute;
  top: 70%; 
  left: 10%; 
  background-color: transparent; 
  color: #fff; 
  padding: 10px 20px; 
  /*using vw ('viewport-width') will adjust for different screensizes*/
  font-size: 5vw; 
  font-family: helvetica, sans-serif;
  text-align: center;
}

.image-icon {
  height: 30px;
  width: 30px;
}

/*ICONS TABLE formatting*/
.icons_table {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  /* margin-left: 50%;
  margin-right: auto; */
  justify-content: center;
  position: relative;
}

/*ALBUM TABLE formatting*/
.album_info {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  justify-content: left;  
  width: auto;
}

/* image gallery CSS */
div.gallery {
  border: none;
}
/* div.gallery:hover {
  border: 1px solid #777;
} */
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  color: #f2f2f2;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  /* text-align: center; */
  justify-content: left;  
  width: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 900px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* end image gallery CSS */


/*PODCAST TABLE formatting*/
.podcast_info {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  justify-content: right;  
  width: 100%;
}

.podcast_iframe_col {
  flex : 0 0 auto;
  width : 75%; 
}

.podcast_transcript_col {
  flex : 0 0 auto;
  width : 25%; 
}

.header_row {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  text-align: center;  
}

img.format_album_thumbnail {
  margin-left:50px;
  max-width:60%;
  max-height:60%;
  border-color:rgb(255, 255, 255);
  border-width: 0 px;
}

.list_unstyled {
  list-style-type: none;
}

.format_album_image_row {
  flex: 0 0 auto;
  width: 30%;
}

.format_release_date_row {
  flex: 0 0 auto;
  width:20%;
  padding-left: 60px;
}

.format_trackslist_row {
  flex: 0 0 auto;
  width: 40%;
}

.format_lyrics_row {
  flex: 0 0 auto;
  width: 10%;
}

/*SHOWS TABLE formatting*/
.shows_info {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  justify-content: left;  
  width: auto;
}

img.format_shows_thumbnail {
  margin-left:50px;
  max-width:60%;
  max-height:60%;
  border-color:rgb(255, 255, 255);
  border-width: 0 px;
}

.format_show_date_col {
  flex: 0 0 auto;
  width:30%;
}

.format_show_details_col {
  flex: 0 0 auto;
  width: 50%;
}

.past_show_date {
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  text-decoration: line-through;
  justify-content: left;  
  width: auto;
}

.songlyrics {
  color: #f2f2f2;
  font-size: 14px;
  font-family: helvetica, sans-serif;
}

.songname {
  color: #f2f2f2;
  font-size: 14px;
  font-family: helvetica, sans-serif;
}


.transcripts {
  color: #f2f2f2;
  font-size: 12 px;
  font-family: helvetica, sans-serif;
}